Package: me.lau.atria
Name: Atria
Version: 1.4.1-17baseline1
Architecture: iphoneos-arm64
Description: Atria iOS 17 source-build baseline (not yet validated on device)
Maintainer: Local build
Author: ren7995
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader, ws.hbang.alderis (>= 1.1)
Conflicts: com.irepo.boxy4, me.kritanta.homepluspro
